@media (min-width: 58rem) {
  html {
    font-size: 1.2rem;
  }
}

a {
    color: rgb(21, 171, 51);
}

h2 a, #nav a{
  padding: 1rem;
  color: rgb(48, 48, 48);
}

h2 a:hover, #nav a:hover {
  color: rgb(21, 171, 51);
}

.post-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.post-title a:hover,
.post-title a:focus {
  color: rgb(21, 171, 51);
  text-decoration: underline;
}

.related-posts li a {
  color: black;
}
.related-posts li a:hover {
  color: rgb(21, 171, 51);
  text-decoration: underline;
}

.related-posts h3 {
  font-size: 1rem;
}

.center
{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.circular {
    width: 6rem;
    height: 6rem;
    border-radius: 6rem;
    -webkit-border-radius: 6rem;
    -moz-border-radius: 6rem;
    background: url(/public/me.jpg) no-repeat;
    background-size: 6rem 6rem;
}

.content {
    min-width: 60%;
    padding-top:    4rem;
    padding-bottom: 4rem;
    font-size: 0.8rem;
}

iframe {
    max-width: 100%;
}

.post img {
  width: 30rem;
  max-width: 100%;
  margin: auto;
}

.post {
    margin-bottom: 1rem;
}

.post h2 {
  margin-top: 2rem;
}

.post p {
  text-align: justify;
}

.post-date {
  margin-bottom: 1.5rem;
}