a
{
    color: rgb(21, 171, 51);
}

.post-title a:hover {
  color: rgb(21, 171, 51);
  text-decoration: none;
}

.related-posts li a {
  color: black;
}
.related-posts li a:hover {
  color: rgb(21, 171, 51);
}

.center
{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.circular {
    width: 6rem;
    height: 6rem;
    border-radius: 6rem;
    -webkit-border-radius: 6rem;
    -moz-border-radius: 6rem;
    background: url(/public/me.jpg) no-repeat;
    background-size: 6rem 6rem;
}

.content {
    padding-top:    4rem;
    padding-bottom: 4rem;
}

iframe {
    max-width: 100%;
}